@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fffaef;
  --secondary-background: oklch(100% 0 0);
  --foreground: #141111;
  --main-foreground: #141111;
  --main: #fe7da8;
  --border: #141111;
  --ring: #fe7da8;
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --card: #ffffff;
  --card-foreground: #141111;
  --popover: #ffffff;
  --popover-foreground: #141111;
  --primary: #fe7da8;
  --primary-foreground: #141111;
  --secondary: #ffd440;
  --secondary-foreground: #141111;
  --muted: #f3eee4;
  --muted-foreground: #726e6a;
  --accent: #8be9fd;
  --accent-foreground: #141111;
  --destructive: #e45757;
  --destructive-foreground: #ffffff;
  --input: #141111;
  --sidebar: #f6f1e6;
  --sidebar-foreground: #141111;
  --sidebar-primary: #fe7da8;
  --sidebar-primary-foreground: #141111;
  --sidebar-border: #141111;
  --sidebar-accent: #ffd440;
  --sidebar-accent-foreground: #141111;
  --sidebar-ring: #fe7da8;
  --chart-1: #ff7a05;
  --chart-2: #0099ff;
  --chart-3: #ffbf00;
  --chart-4: #00d696;
  --chart-5: #7a83ff;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(26.86% 0.0327 60.06);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(67.56% 0.1796 49.61);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #eb6d00;
  --chart-2: #008ae5;
  --chart-3: #e5ac00;
  --chart-4: #00bd84;
  --chart-5: #7a83ff;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-input: var(--input);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --font-sans: "Space Grotesk Variable", "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Space Mono", ui-monospace, SFMono-Regular, monospace;

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@layer base {
  body {
    @apply bg-background font-sans font-base text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
